{
  "BOT_ADMIN_ROUTE": "/sttbot/admin",
  "BOT_SLACK_EVENTS_ROUTE": "/sttbot/slack/events",
  "PATH_DB": "/db/sttbot.db",
  "SERVER_HOST": "",
  "SERVER_PORT": 3000,
  "SLACK_CLIENT_ID": "",
  "SLACK_CLIENT_SECRET": "",
  "SLACK_OAUTH_TOKEN": "",
  "SLACK_SIGNING_SECRET": ""
}