{
  "PATH_DB": "~/db/sttbot.db",
  "SERVER_HOST": "",
  "SERVER_PORT": 3000,
  "SLACK_CLIENT_ID": "",
  "SLACK_CLIENT_SECRET": "",
  "SLACK_SCOPES": "app_mentions:read,channels:history,chat:write,pins:read,reactions:write,groups:history",
  "SLACK_SIGNING_SECRET": ""
}